<div class="content d-flex flex-column">
  <div class="modal-header">
    <h2 class="modal-title" i18n>Info</h2>
    <button type="button" class="close" (click)="close()" aria-label="Close">
      <span class="oi oi-x" aria-hidden="true"></span>
    </button>
  </div>
  <div class="row">
    <div class="col-2">
      <span class="details-icon oi oi-image"></span>
    </div>
    <div class="col-10">
      <div class="details-main dir-link" title="{{FullPath}}"
           [routerLink]="['/gallery', DirectoryPath]"
           [queryParams]="queryService.getParams()">
        {{media.name}}
      </div>
      <div class="details-sub row">
        <div class="col-4">{{media.metadata.size.width}} x {{media.metadata.size.height}}</div>
        <div class="col-4" *ngIf="isPhoto()">{{calcMpx()}}MP</div>
        <div class="col-4" *ngIf="media.metadata.fileSize">{{media.metadata.fileSize | fileSize}}</div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="media.metadata.creationDate">
    <div class="col-2">
      <span class="details-icon oi oi-calendar"></span>
    </div>
    <div class="col-10">
      <div class="details-main">
        {{ media.metadata.creationDate | date: (isThisYear() ? 'MMMM d' : 'longDate')}}
      </div>
      <div class="details-sub row">
        <div class="col-12">{{ media.metadata.creationDate | date :'EEEE'}}, {{getTime()}}</div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="VideoData && (VideoData.duration || VideoData.bitRate)">
    <div class="col-2">
      <span class="details-icon oi oi-video"></span>
    </div>
    <div class="col-10">
      <div class="details-main">
        {{"Video"}}
      </div>
      <div class="details-sub row">
        <div class="col-6" *ngIf="VideoData.duration">
          <ng-container i18n>duration</ng-container>
          : {{VideoData.duration | duration}}</div>
        <div class="col-6" *ngIf="VideoData.fps">
          fps: {{VideoData.fps}}/s
        </div>
        <div class="col-6" *ngIf="VideoData.bitRate">
          <ng-container i18n>bit rate</ng-container>
          : {{VideoData.bitRate | fileSize}}/s
        </div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="CameraData">
    <div class="col-2">
      <span class="details-icon oi oi-camera-slr"></span>
    </div>
    <div class="col-10">
      <div class="details-main">
        {{CameraData.model || CameraData.make || "Camera"}}
      </div>
      <div class="details-sub row">
        <div class="col-3" *ngIf="CameraData.ISO">ISO{{CameraData.ISO}}</div>
        <div class="col-3" *ngIf="CameraData.fStop">f/{{CameraData.fStop}}</div>
        <div class="col-3" *ngIf="CameraData.exposure">
          {{toFraction(CameraData.exposure)}}s
        </div>
        <div class="col-3" *ngIf="CameraData.focalLength">
          {{CameraData.focalLength}}mm
        </div>
        <div class="col-12" *ngIf="CameraData.lens">{{CameraData.lens}}</div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="Rating">
    <div class="col-2" title="rating" p18n-rating>
      <span class="details-icon oi oi-star"></span>
    </div>
    <div class="col-10">
      <div class="details-main mt-2" [title]="Rating + ' stars'">
        <span *ngFor="let stars of [].constructor(Rating)" class="oi oi-star text-dark mr-1"></span>
        <span *ngFor="let stars of [].constructor(5-Rating)" class="oi oi-star text-muted mr-1"></span>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="keywords">
    <div class="col-2">
      <span class="details-icon oi oi-tags"></span>
    </div>
    <div class="col-10 keywords">
      <ng-template ngFor let-keyword [ngForOf]="keywords" let-last="last">
        <a *ngIf="searchEnabled"
           [routerLink]="['/search', getTextSearchQuery(keyword.value,keyword.type)]" [ngSwitch]="keyword.type">
          <ng-template [ngSwitchCase]="SearchQueryTypes.keyword">#</ng-template><!--
       -->
          <ng-template [ngSwitchCase]="SearchQueryTypes.person"><span class="oi oi-person"></span></ng-template><!--
       -->{{keyword.value}}</a>
        <span *ngIf="!searchEnabled" [ngSwitch]="keyword.type">
          <ng-template [ngSwitchCase]="SearchQueryTypes.keyword">#</ng-template><!--
       --><ng-template [ngSwitchCase]="SearchQueryTypes.person"><span class="oi oi-person"></span></ng-template><!--
       -->{{keyword.value}}</span>
        <ng-template [ngIf]="!last">,&#32;</ng-template>
      </ng-template>
    </div>
  </div>


  <div class="row" *ngIf="hasPositionData()">
    <div class="col-2">
      <span class="details-icon oi oi-map-marker"></span>
    </div>
    <div class="col-10">
      <div class="details-main">
        {{getPositionText() || "Position"}}
      </div>
      <div class="details-sub row" *ngIf="hasGPS()">
        <div class="col-12">
          {{PositionData.GPSData.latitude.toFixed(6)}},
          {{PositionData.GPSData.longitude.toFixed(6)}}
        </div>
      </div>
    </div>
  </div>
  <div class="mt-auto" style="height: 400px">
    <div
      *ngIf="hasGPS() && mapEnabled"

      id="map"
      leaflet
      [leafletOptions]="{zoom:10,
          center:{lat:PositionData.GPSData.latitude,
          lng:PositionData.GPSData.longitude},
          layers:[baseLayer],
          zoomControl: false}"
      [leafletLayers]="markerLayer">
    </div>
  </div>

</div>
